@page

@model RestaurantReviewer.Pages.AddRestaurantModel
@{
    ViewData["Title"] = "AddRestaurant";
}
<head>
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Style.css" />
</head>
<body>
    <div class="header">
        <h1>Add restaurant</h1>
    </div>
    <a class="back-button" asp-page="/">HOME</a>

    <div class="table">
        <form method="post" autocomplete="off" name="newRestaurant">
            <div class="field-container">
                <div>Restaurant name:</div>
                <div class="field">
                    <input asp-for="Restaurant.Name"/>
                </div>
            </div>
            <div class="field-container">
                <div>Image source:</div>
                <div class="field">
                    <input asp-for="Restaurant.ImgSource"/>
                </div>
            </div>
            <input type="submit" />
        </form>
    </div>
</body>

